body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

.registration-form {
  background-color: rgba(255, 255, 255, 0.81);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

h2 {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

input {
  width: 380px;
  font-size: 18px;
  padding: 10px;
  border: 3px solid #61dafb;
  border-radius: 10px;

}

.preview-data {
  margin-top: 30px;
  padding: 10px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  background-color: #b7bde7;
  font-size: 18px;

}

.preview-data h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.preview-data p {
  margin: 5px 0;
}

